DISCORD_TOKEN=your_bot_token
DISCORD_CLIENT_ID=your_application_id
DISCORD_GUILD_ID=your_dev_guild_id

MODRINTH_OAUTH_CLIENT_ID=
MODRINTH_OAUTH_CLIENT_SECRET=
MODRINTH_OAUTH_REDIRECT_URI=


MONGODB_URI=mongodb://mongodb:27017/modrinth_scout

PORT=3000